

      <ol class="breadcrumb text-center vollkron" id="resumeNav">
        <li><%= link_to "PDF Version", '/resume/JaspreetSinghResume.pdf', id: "PDF Version" %></li>
        <li><%= link_to "Intro", '#intro', id: "IntroBC" %></li>
        <li><%= link_to "Skills", '#skills', id: "SkillsBC" %></li>
        <li><%= link_to "Education", '#education', id: "EducationBC" %></li>
        <li><%= link_to "Experience", '#experience', id: "ExperienceBC" %></li>
        <li><%= link_to "Projects", '#projects', id: "ProjectsBC" %></li>
        <li><%= link_to "Hobbies", '#hobbies', id: "HobbiesBC" %></li>
      </ol>



   <div class="row blue wow fadeInLeft">
     <div class="col-md-12">
          <div class="resEl" id="intro">
            <div class="container resContent">
            <p class="vollkron">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus enim mauris, id venenatis elit placerat sed. Curabitur sed facilisis purus, sed consequat mauris. In sit amet orci vel arcu euismod lacinia. Suspendisse turpis dui, scelerisque nec molestie in, fringilla sed tortor. Nulla arcu velit, dictum nec viverra id, vulputate in nulla. Cras laoreet in lectus non sagittis. Mauris ullamcorper lorem et quam luctus lobortis. Sed nec gravida est, et porttitor arcu. Nam bibendum sagittis elementum. Sed sed risus sed purus semper blandit. Phasellus vestibulum bibendum ipsum, id elementum mi rutrum vitae.
            </p>
            </div>
          </div>
     </div>
   </div>

   <div class="row yellow wow fadeInRight" data-wow-duration="2s">
     <div class="col-md-12">
        <div class="resEl" id="skills">
            <div class="container resContent">
              <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus enim mauris, id venenatis elit placerat sed. Curabitur sed facilisis purus, sed consequat mauris. In sit amet orci vel arcu euismod lacinia. Suspendisse turpis dui, scelerisque nec molestie in, fringilla sed tortor. Nulla arcu velit, dictum nec viverra id, vulputate in nulla. Cras laoreet in lectus non sagittis. Mauris ullamcorper lorem et quam luctus lobortis. Sed nec gravida est, et porttitor arcu. Nam bibendum sagittis elementum. Sed sed risus sed purus semper blandit. Phasellus vestibulum bibendum ipsum, id elementum mi rutrum vitae.
            </p>
            </div>
         </div>
     </div>
   </div>


   <div class="row blue wow fadeInLeft" data-wow-duration="2s">
     <div class="col-md-12">
        <div class="resEl" id="education">
          <div class="container  resContent">
            <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus enim mauris, id venenatis elit placerat sed. Curabitur sed facilisis purus, sed consequat mauris. In sit amet orci vel arcu euismod lacinia. Suspendisse turpis dui, scelerisque nec molestie in, fringilla sed tortor. Nulla arcu velit, dictum nec viverra id, vulputate in nulla. Cras laoreet in lectus non sagittis. Mauris ullamcorper lorem et quam luctus lobortis. Sed nec gravida est, et porttitor arcu. Nam bibendum sagittis elementum. Sed sed risus sed purus semper blandit. Phasellus vestibulum bibendum ipsum, id elementum mi rutrum vitae.
            </p>
          </div>
        </div>
     </div>
   </div>


   <div class="row yellow  wow fadeInRight" data-wow-duration="2s">
     <div class="col-md-12">
        <div class="resEl"  id="experience">
            <div class="container resContent">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus enim mauris, id venenatis elit placerat sed. Curabitur sed facilisis purus, sed consequat mauris. In sit amet orci vel arcu euismod lacinia. Suspendisse turpis dui, scelerisque nec molestie in, fringilla sed tortor. Nulla arcu velit, dictum nec viverra id, vulputate in nulla. Cras laoreet in lectus non sagittis. Mauris ullamcorper lorem et quam luctus lobortis. Sed nec gravida est, et porttitor arcu. Nam bibendum sagittis elementum. Sed sed risus sed purus semper blandit. Phasellus vestibulum bibendum ipsum, id elementum mi rutrum vitae.
             </p>
            </div>
        </div>
     </div>
    </div>



      <div class="row blue wow fadeInLeft" data-wow-duration="2s">
        <div class="col-md-12">
          <div class="resEl blue"  id="projects">
            <div class="container resContent">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus enim mauris, id venenatis elit placerat sed. Curabitur sed facilisis purus, sed consequat mauris. In sit amet orci vel arcu euismod lacinia. Suspendisse turpis dui, scelerisque nec molestie in, fringilla sed tortor. Nulla arcu velit, dictum nec viverra id, vulputate in nulla. Cras laoreet in lectus non sagittis. Mauris ullamcorper lorem et quam luctus lobortis. Sed nec gravida est, et porttitor arcu. Nam bibendum sagittis elementum. Sed sed risus sed purus semper blandit. Phasellus vestibulum bibendum ipsum, id elementum mi rutrum vitae.
              </p>
            </div>
          </div>
        </div>
      </div>



      <div class="row yellow wow fadeInRight" data-wow-duration="2s">
        <div class="col-md-12">
          <div class="resEl yellow"  id="hobbies">
            <div class="container resContent">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus enim mauris, id venenatis elit placerat sed. Curabitur sed facilisis purus, sed consequat mauris. In sit amet orci vel arcu euismod lacinia. Suspendisse turpis dui, scelerisque nec molestie in, fringilla sed tortor. Nulla arcu velit, dictum nec viverra id, vulputate in nulla. Cras laoreet in lectus non sagittis. Mauris ullamcorper lorem et quam luctus lobortis. Sed nec gravida est, et porttitor arcu. Nam bibendum sagittis elementum. Sed sed risus sed purus semper blandit. Phasellus vestibulum bibendum ipsum, id elementum mi rutrum vitae.
              </p>
            </div>
          </div>
        </div>
      </div>

<script>
    $('a[href^="#"]').on('click', function(event) {

        var target = $( $(this).attr('href') );

        if( target.length ) {
            event.preventDefault();
            $('html, body').animate({
                scrollTop: target.offset().top
            }, 900);
        }

    });
</script>
      <script>
          new WOW().init();
      </script>